.section1 {
    display: flex;
    justify-content: space-evenly;    
    margin: 2px;
}

.whole {
    display: flex;
    justify-content: flex-start;
}

.title {
    border: 1px solid black;
    padding: 50px;
    margin: 2px;
    width: 70%;
}

.options {
    padding: 40px;
    margin: 2px;
    width: 30%;
}

.image {
    padding: 50px;
    margin: 2px;
    width: 30%;
}

.text {
    border: 1px solid black;
    padding: 90px;
    margin: 120px;
    width: 50%;
}

.pictures {
    border: 1px solid black;
    padding: 50px;
    margin: 70px;
    width: 200px;
}

.image2 {
    border: 1px solid black;
    background-color: black;
}

.contacts {
    border: 1px solid black;
    padding: 50px;
    margin: 70px;
    display: flex;
    justify-content: center;
}

.text2 {
    padding: 30px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.socials {
    padding: 30px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
}
